<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="main flex">
  <div id="isWeb" class="">
    <div class="content flex flex-col justify-center items-center w-screen h-screen">
      <div class="flex flex-row">
        <h1 class="text-[50px] font-bold text-yellow-500">CEP.</h1>
        <h1 class="text-[50px] font-bold text-white">SEARCH</h1>
      </div>
      <p class="text-white mb-10 pl-7 pr-7 text-center">Digite o CEP desejado e aguarde o carregamento das informações.
      </p>
      <div class="flex bg-gray-800 p-3 sm:p-7 rounded-full">
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="1" id="inp1" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" autofocus />
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="2" id="inp2" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" />
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="3" id="inp3" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" />
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="4" id="inp4" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" />
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="5" id="inp5" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" />
        <!-- <label class="text-gray-500 ml-1 mt-1 sm:mt-5 font-bold">-</label> -->
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="6" id="inp6" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" />
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="7" id="inp7" maxlength="1" (keyup)="NextInput()" type="text" (input)="limitInput()" />
        <input
          class="appearance-none ml-[3px] sm:m-2 rounded-full w-9 h-9 sm:w-14 sm:h-14 text-center bg-gray-500 focus:outline-none text-[25px] text-gray-400 font-bold"
          tabindex="8" id="inp8" maxlength="1" (keyup)="BuscarCep(resultadoCep)" type="text" (input)="limitInput()" />
      </div>
      <!-- *ngIf="resultadoCep !== null && resultadoCep.erro != true" -->
      <div *ngIf="resultadoCep !== null && resultadoCep.erro != true" class="text-white flex flex-col">
        <!-- cep -->
        <div class="flex flex-row justify-center">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="font-semibold text-red-500 text-[23px] mt-7 mr-3" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
          </svg>
          <h1 class="font-bold text-gray-500 text-[20px] mt-5">CEP Nº</h1>
          <h1 class="font-bold text-gray-400 text-[20px] mt-5 ml-2">{{resultadoCep.cep}}</h1>
        </div>
        <!-- logradouro -->
        <div class="flex flex-col bg-gray-800 pt-3 pb-3 pr-5 pl-5 rounded-xl mt-5 justify-center items-center">
          <h1 class="bg-gray-600 rounded-full pt-1 w-full text-center pb-1 pr-6 pl-6 m-3 uppercase">
            {{resultadoCep.logradouro}}</h1>
          <h1 class="bg-gray-600 rounded-full pt-1 w-full text-center pb-1 pr-6 pl-6 m-3 uppercase">bairro
            {{resultadoCep.bairro}}</h1>
          <h1 class="bg-gray-600 rounded-full pt-1 w-full text-center pb-1 pr-6 pl-6 m-3">{{resultadoCep.localidade}} /
            {{resultadoCep.uf}}
          </h1>
        </div>
        <button (click)="resetInputs()"
          class="flex flex-row uppercase text-red-600 p-3 font-bold text-center justify-center">
          nova pesquisa
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="ml-2 mt-[3px]"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
            <path
              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
          </svg>
        </button>
      </div>
      <div *ngIf="resultadoCep.erro == true; else NotError">
        <h1 class="text-red-600 font-bold pt-3 pl-7 pr-7 text-center text-[15px]">O CEP não foi preenchido ou não
          existe. <br>Tente
          novamente!</h1>>
      </div>
      <ng-template #NotError></ng-template>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />